@d2l:registry=https://d2lartifacts.artifactoryonline.com/d2lartifacts/api/npm/npm-local/
//d2lartifacts.artifactoryonline.com/d2lartifacts/api/npm/npm-local/:_password=QVAzaEs5cVZIeGhkdmRGd1BlR013MmJqNWVXZXVESlp1UkNkQkI=
//d2lartifacts.artifactoryonline.com/d2lartifacts/api/npm/npm-local/:username=ro-dev
//d2lartifacts.artifactoryonline.com/d2lartifacts/api/npm/npm-local/:email=resupport@d2l.com
//d2lartifacts.artifactoryonline.com/d2lartifacts/api/npm/npm-local/:always-auth=true
