name: CI
on: pull_request
permissions:
  contents: read
concurrency:
  group: ${{github.workflow_ref}}
  cancel-in-progress: true
jobs:
  determine-node-versions:
    name: Determine Node Versions
    timeout-minutes: 5
    runs-on: ubuntu-latest
    outputs:
      node-versions: ${{steps.gnv.outputs.node-versions}}
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
      - name: Generate node versions
        id: gnv
        run: |
          NVMRC_VER=$(cat .nvmrc)
          VER=${NVMRC_VER%%.*}
          echo "node-versions=[\"$((VER-2))\",\"$VER\"]" >> $GITHUB_OUTPUT
  lint:
    name: Lint
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
      - name: Set up node
        uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Lint (ESLint)
        run: npm run lint:eslint
      - name: Lint (EditorConfig)
        run: npm run lint:editorconfig
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: determine-node-versions
    strategy:
      fail-fast: false
      matrix:
        node: ${{fromJson(needs.determine-node-versions.outputs.node-versions)}}
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
      - name: Setup Node
        uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version: ${{matrix.node}}
          cache: npm
      - name: npm install
        run: npm ci
      - name: test
        run: npm run test
