name: Release
on:
  push:
    branches:
      - main
      - '[0-9]+.x'
      - '[0-9]+.[0-9]+.x'
concurrency: release
permissions:
  contents: read
jobs:
  release:
    runs-on: ubuntu-latest
    name: Release
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
        with:
          persist-credentials: false
      - name: Setup Node
        uses: Brightspace/setup-node@main
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Semantic Release
        uses: BrightspaceUI/actions/semantic-release@main
        with:
          GITHUB_TOKEN: ${{secrets.D2L_RELEASE_TOKEN}}
          NPM: true
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
